{% extends "base.html" %}
{% load static thumbnail%}

{% block title %}{{ user.username }}----{{ block.super }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
        {% thumbnail user.picture "x180" as im %}
            <img src="{{ im.url }}" alt="用户头像" >
        {% empty %}
            <img src="{% static 'img/user.png' %}" height="180px" alt="没有头像">
        {% endthumbnail %}
    </div>

    <div class="col-md-7">
        <div class="card card-body"><p>{{ user.introduction }}</p></div>
    </div>
    <div class="col-md-3">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        {{ user.get_profile_name }}
        <br/>
        <i class="fa fa-envelope" aria-hidden="true"></i><a class="email" href="mailto:{{ user.email }}">{{ user.email }}</a>
        <br/>
        {% if user.job_title %}
            <i class="fa fa-briefcase" aria-hidden="true"></i> {{ user.job_title }} <br/>
        {% endif %}
        {% if user.location %}
            <i class="fa fa-map-marker" aria-hidden="true"></i> {{ user.location }} <br/>
        {% endif %}

       <div class="mb-2"></div>
        <!--自己的页面现实更新按钮 -->
        {% if request.user.username == user.username %}
            <a class="btn btn-primary" href="{% url "users:update" %}">更新信息</a>
            <a class="btn btn-primary" href="{% url 'account_email' %}" >E-Mail</a>
        {% endif %}
    </div>

      {% if request.user.username == object.username %}
            <div class="row tile_count">
                <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">
                    <p class="fa fa-key">动态</p>
                    <div class="count">{{ moments_num }}</div>
                </div>

                <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">
                    <p class="fa fa-key">文章</p>
                    <div class="count">{{ article_num }}</div>
                </div>

                <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">
                    <p class="fa fa-key">评论</p>
                    <div class="count">{{ comment_num }}</div>
                </div>

                <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">
                    <p class="fa fa-key">提问</p>
                    <div class="count">{{ question_num }}</div>
                </div>

                <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">
                    <p class="fa fa-key">回答</p>
                    <div class="count">{{ answer_num }}</div>
                </div>

                <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">
                    <p class="fa fa-key">互动</p>
                    <div class="count">{{ interaction_num }}</div>
                </div>
            </div>

        {% endif%}
  </div>
{% endblock content %}

